<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- 加载AjaxAnywhere支持 
		<filter>
		<filter-name>AjaxAnywhere</filter-name>
		<filter-class>org.ajaxanywhere.AAFilter</filter-class>
		<init-param>
		<param-name>preSendHandlerClass</param-name>
		<param-value>
		org.ajaxanywhere.jsf.MyFacesClientStateSavingPreSendHandler
		</param-value>
		</init-param>
		</filter>
		<filter-mapping>
		<filter-name>AjaxAnywhere</filter-name>
		<url-pattern>*.do</url-pattern>
		</filter-mapping>
		<filter-mapping>
		<filter-name>AjaxAnywhere</filter-name>
		<url-pattern>*.jsp</url-pattern>
		</filter-mapping>-->
	<!-- 加载 Struts 支持 -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- 加载 Spring 支持 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>-->
	<!-- 配置 Spring提供的对Hibernate Session的管理 
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->
	<!-- 加载 DWR 支持 -->
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>
				initApplicationScopeCreatorsAtStartup
			</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>maxWaitAfterWrite</param-name>
			<param-value>100</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<!-- 过滤器 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>
			com.bdsoft.global.filter.SetEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- json测试 -->
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<!-- 传智播客测试Servlet -->
	<servlet>
		<servlet-name>ajaxServer</servlet-name>
		<servlet-class>
			com.bdsoft.czbk.servlet.AjaxServer
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajaxServer</servlet-name>
		<url-pattern>/ajaxServer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjaxXmlServlet</servlet-name>
		<servlet-class>
			com.bdsoft.czbk.servlet.AjaxXmlServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxXmlServlet</servlet-name>
		<url-pattern>/AjaxXmlServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetStockInfoServlet</servlet-name>
		<servlet-class>
			com.bdsoft.czbk.servlet.GetStockInfoServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetStockInfoServlet</servlet-name>
		<url-pattern>/stock</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AutoComplete</servlet-name>
		<servlet-class>
			com.bdsoft.czbk.servlet.AutoCompleteServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoComplete</servlet-name>
		<url-pattern>/auto</url-pattern>
	</servlet-mapping>
	<!-- 传智播客测试Servlet结束 -->
	<!-- 整合开发 Servlet配置如下： -->
	<servlet>
		<servlet-name>CheckUser</servlet-name>
		<servlet-class>com.bdsoft.zhkf.servlet.CheckUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUser</servlet-name>
		<url-pattern>/CheckUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateXML</servlet-name>
		<servlet-class>com.bdsoft.zhkf.servlet.CreateXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateXML</servlet-name>
		<url-pattern>/CreateXML</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateCounter</servlet-name>
		<servlet-class>
			com.bdsoft.zhkf.servlet.UpdateCounter
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCounter</servlet-name>
		<url-pattern>/UpdateCounter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetPhoto</servlet-name>
		<servlet-class>com.bdsoft.zhkf.servlet.GetPhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPhoto</servlet-name>
		<url-pattern>/GetPhoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YahooSearch</servlet-name>
		<servlet-class>
			com.bdsoft.zhkf.servlet.YahooSearch
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YahooSearch</servlet-name>
		<url-pattern>/YahooSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateTip</servlet-name>
		<servlet-class>com.bdsoft.zhkf.servlet.CreateTip</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTip</servlet-name>
		<url-pattern>/CreateTip</url-pattern>
	</servlet-mapping>
	<!-- 整合开发配置结束 -->
	<!-- Web2p0 Servlet配置如下 -->
	<servlet>
		<servlet-name>SearchSuggest</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch10.SearchSuggest
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchSuggest</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SelectCityServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch11.SelectCityServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectCityServlet</servlet-name>
		<url-pattern>/SelectCityServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestA</servlet-name>
		<servlet-class>com.bdsoft.web2p0.ch12.TestA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestA</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TreeviewServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch15.TreeviewServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TreeviewServlet</servlet-name>
		<url-pattern>/treeview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Pager</servlet-name>
		<servlet-class>com.bdsoft.web2p0.ch16.Pager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pager</servlet-name>
		<url-pattern>/pager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PictureServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch17.PictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PictureServlet</servlet-name>
		<url-pattern>/picture</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch18.CartServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCommentServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch19.AddCommentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCommentServlet</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FirstAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.FirstAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstAction</servlet-name>
		<url-pattern>/first</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.RegistAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistAction</servlet-name>
		<url-pattern>/regist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckUnameAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.CheckUnameAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUnameAction</servlet-name>
		<url-pattern>/checkUname</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OpenBlogAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.OpenBlogAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenBlogAction</servlet-name>
		<url-pattern>/openBlog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BlogOperateAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.BlogOperateAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogOperateAction</servlet-name>
		<url-pattern>/blogOperate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowFeedbackAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.ShowFeedbackAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowFeedbackAction</servlet-name>
		<url-pattern>/showFeedback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ArticleSaveAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.ArticleSaveAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleSaveAction</servlet-name>
		<url-pattern>/saveArticle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminArticleAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.AdminArticleAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminArticleAction</servlet-name>
		<url-pattern>/adminArticle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ArticleSortAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.ArticleSortAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleSortAction</servlet-name>
		<url-pattern>/dyList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLinksAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.AdminLinksAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLinksAction</servlet-name>
		<url-pattern>/adminLinks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveSelfInfoAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.SaveSelfInfoAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveSelfInfoAction</servlet-name>
		<url-pattern>/saveSelf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminSortAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.AdminSortAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSortAction</servlet-name>
		<url-pattern>/adminSort</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.LoginAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/loginBlog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OpenArticleAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.OpenArticleAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenArticleAction</servlet-name>
		<url-pattern>/openArticle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.SearchAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchAction</servlet-name>
		<url-pattern>/searchBlog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteFeedbackAction</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch21.WriteFeedbackAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteFeedbackAction</servlet-name>
		<url-pattern>/writeFeedback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProcessGuestBook</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch24.ProcessGuestBook
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessGuestBook</servlet-name>
		<url-pattern>/processGuestBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LibraryServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch25.LibraryServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LibraryServlet</servlet-name>
		<url-pattern>/library</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch27.servlet.ActionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/actionSvlt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch27.servlet.CheckServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/checkservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch27.servlet.DeleteServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delSvlt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewProductServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch27.servlet.NewProductServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewProductServlet</servlet-name>
		<url-pattern>/newSvlt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PasswordServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch27.servlet.PasswordServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PasswordServlet</servlet-name>
		<url-pattern>/pwdSvlt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch27.servlet.QueryServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/querySvlt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch27.servlet.RegisterServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/regSvlt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>
			com.bdsoft.web2p0.ch27.servlet.UpdateServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/updateSvlt</url-pattern>
	</servlet-mapping>
	<!-- Web2p0 配置结束 -->
	<!-- JfreeChart 配置 --> 
  <servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/DisplayChart</url-pattern>
	</servlet-mapping>
</web-app>